@model MessageViewModel

<h3>Message User about this Listing</h3>
<div>
        <form method="post" asp-action="Send" asp-controller="Message">
            @Html.HiddenFor(model => Model.ListingId)
            @Html.HiddenFor(model => Model.SenderId)
            <label>Message</label>
            <textarea asp-for="Message" class="form-control"></textarea>
            <button type="submit" class="btn-primary">Send Message</button>
        </form>
</div>
