@model LandListingViewModel

@{
    ViewBag.Title = "Create Land Listing";
}

<div class="mx-auto p-6 max-w-4xl flex flex-col shadow-md">
    <h1 class="text-xl text-center">Create Land Listing</h1>
    <form method="post" class="flex flex-col">
        <div asp-validation-summary="All" class="text-red-500"></div>
        <div class="flex flex-col mb-2">
            <label asp-for="Title"></label>
        <input asp-for="Title" class="input-box" />
            <span asp-validation-for="Title" class="text-red-500"></span>
        </div>
            
        <div class="flex flex-col mb-2">
            <label asp-for="Location"></label>
            <input asp-for="Location" class="input-box"/>
            <span asp-validation-for="Location" class="text-red-500"></span>
        </div>
        <div class="flex flex-col mb-2">
            <label asp-for="Details"></label>
            <textarea asp-for="Details" class="input-box"></textarea>
            <span asp-validation-for="Details" class="text-red-500"></span>
        </div>


        <h1 class="my-2 text-green-700 text-xl">Amenties Available</h1>
        <div class="flex flex-row mb-2">
            <input asp-for="WaterConnection" type="checkbox" class="mr-2"/>
            <label asp-for="WaterConnection">Water Connection</label>
        </div>
        <div class="flex flex-row mb-2">
            <input asp-for="ElectricalConnection" type="checkbox" class="mr-2" />
            <label asp-for="ElectricalConnection">Electrical Connection</label>
        </div>
        <div class="flex flex-row mb-2">
            <input asp-for="WifiConnection" type="checkbox" class="mr-2" />
            <label asp-for="WifiConnection">Internet/Wifi Connection</label>
        </div>
        <div class="flex flex-row mb-2">
            <input asp-for="Pets" type="checkbox" class="mr-2" />
            <label asp-for="Pets">Pet Friendly</label>
        </div>
        <div class="flex flex-row mb-2">
            <input asp-for="ChildFriendly" type="checkbox" class="mr-2" />
            <label asp-for="ChildFriendly">Child Friendly</label>
        </div>
        <div class="flex flex-row mb-2">
            <input asp-for="SmokingPermitted" type="checkbox" class="mr-2" />
            <label asp-for="SmokingPermitted">Smoking Permitted</label>
        </div>

        <label for="file">Upload Image:</label>
        <input type="file" name="file" id="file" />
        <input type="submit" value="Upload Image" class="mx-auto btn btn-primary" />

        <button type="submit" class="ml-auto mt-2 btn btn-primary">Create</button>
    </form>
</div>
