@model LandListingViewModel

@{
    ViewBag.Title = "Edit Land Listing";
}

<div class="flex flex-col shadow-md p-6 max-w-3xl">
    <h1 class="text-center">Edit Land Listing</h1>
    <form method="post" class="flex flex-col">
         <div asp-validation-summary="All" class="text-red-500"></div>
            <div class="flex flex-col">
                <label asp-for="Title" class=""></label>
                <input asp-for="Title" class="my-1 p-2 border border-gray-200" />
                <span asp-validation-for="Title" class="text-red-500"></span>
            </div>
            
            <div class="flex flex-col">
                <label asp-for="Location"></label>
            <input asp-for="Location" class="my-1 p-2 border border-gray-200" />
                <span asp-validation-for="Location" class="text-red-500"></span>
            </div>
        <div class="flex flex-col">
            <label asp-for="State"></label>
            <input asp-for="State" class="my-1 p-2 border border-gray-200" />
            <span asp-validation-for="State" class="text-red-500"></span>
        </div>
        <div class="flex flex-col">
            <label asp-for="Country"></label>
            <input asp-for="Country" class="my-1 p-2 border border-gray-200" />
            <span asp-validation-for="Country" class="text-red-500"></span>
        </div>
        <div class="flex flex-col">
            <label asp-for="Details"></label>
        <textarea asp-for="Details" class="my-1 p-2 border border-gray-200"></textarea>
            <span asp-validation-for="Details" class="text-red-500"></span>
        </div>
        <div class="flex flex-col">
            <label asp-for="MapLocation">Map Location</label>
            <input asp-for="MapLocation" class="my-1 p-2 border border-gray-200" />
            <span asp-validation-for="MapLocation" class="text-red-500"></span>
        </div>
        <div class="flex flex-col">
            <label asp-for="LotSize">Lot Size</label>
            <input asp-for="LotSize" class="my-1 p-2 border border-gray-200" />
            <span asp-validation-for="LotSize" class="text-red-500"></span>
        </div>
        <div class="flex flex-col">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="my-1 p-2 border border-gray-200" />
            <span asp-validation-for="Price" class="text-red-500"></span>
        </div>
        <div class="flex flex-col">
            <label asp-for="PayPeriod">Pay Period</label>
            <input asp-for="PayPeriod" class="my-1 p-2 border border-gray-200" />
            <span asp-validation-for="PayPeriod" class="text-red-500"></span>
        </div>
        <div class="flex flex-col">
            <label asp-for="LandType">Land Type</label>
            <input asp-for="LandType" class="my-1 p-2 border border-gray-200" />
            <span asp-validation-for="LandType" class="text-red-500"></span>
        </div>
        <div class="flex flex-col">
            <label asp-for="FoundationSize">Foundation Size</label>
            <input asp-for="FoundationSize" class="my-1 p-2 border border-gray-200" />
            <span asp-validation-for="FoundationSize" class="text-red-500"></span>
        </div>
        <div class="flex flex-col">
            <label asp-for="SiteFoundation">Site Foundation</label>
            <input asp-for="SiteFoundation" class="my-1 p-2 border border-gray-200" />
            <span asp-validation-for="SiteFoundation" class="text-red-500"></span>
        </div>
        <div class="flex flex-col">
            <label asp-for="DrivewayFoundation">Driveway Foundation</label>
            <input asp-for="DrivewayFoundation" class="my-1 p-2 border border-gray-200" />
            <span asp-validation-for="DrivewayFoundation" class="text-red-500"></span>
        </div>
        <div class="flex flex-col">
            <label asp-for="Privacy"></label>
            <input asp-for="Privacy" class="my-1 p-2 border border-gray-200" />
            <span asp-validation-for="Privacy" class="text-red-500"></span>
        </div>
        <button type="submit" class="py-2 px-4 mx-auto my-4 w-48 text-white bg-green-700 rounded-sm shadow-md">Submit Edit</button>
    </form>
</div>
