@model Guid
@{
    ViewBag.Title = "404 Error";
}

<div class="alert alert-danger mt-1 mb-1">
    <h4>404 Not Found Error</h4>
    <hr/>
    @if(@Model.Equals(Guid.Empty))
    {
        <h5>Land Listing cannot be found.</h5>
    }
    else
    {
        <h5>Land Listing with Id = @Model cannot be found.</h5>
    }
</div>

<a asp-action="index" asp-controller="land" class="btn btn-outline-success">
    Click here to see all Land listings
</a>