@model SeekerSearchFilter

@{
    ViewBag.Title = "Search Land";
}

<div>
    <h1>@ViewBag.Title</h1>
    <form method="post">
         <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Location">Location</label>
                <select name="Location" asp-for="Location">
                    <option value="Any">Any</option>
                    <option value="Vancouver">Vancouver</option>
                    <option value="Langley">Langley</option>
                    <option value="Tofino">Tofino</option>
                    <option value="Oliver">Oliver</option>
                    <option value="Victoria">Victoria</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="waterConnection">Water Connection</label>
                <input type="checkbox" asp-for="waterConnection" class="">
            </div>
            <div class="form-group">
                <label asp-for="electricalConnection">Electrical Connection</label>
                <input type="checkbox" asp-for="electricalConnection" class="">
            </div>
            <div class="form-group">
                <label asp-for="wifiConnection">Wifi Connection</label>
                <input type="checkbox" asp-for="wifiConnection" class="">
            </div>
            <div class="form-group">
                <label asp-for="petsAllowed">Pets Allowed</label>
                <input type="checkbox" asp-for="petsAllowed" class="">
            </div>
            <div class="form-group">
                <label asp-for="childFriendly">Child Friendly</label>
                <input type="checkbox" asp-for="childFriendly" class="">
            </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>