@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Dashboard</h1>
    <br />
   
    <P>
        @Html.ActionLink("Create Seeker Listing", "createlisting", "seeker")
    </P>
    <P>
        @Html.ActionLink("Create Land Listing", "createlisting", "Land")
    </P>
</div>
