@{
    ViewBag.Title = "Profile";
}

<h1>Account Profile</h1>
<p>Change your name, password and delete account or view last login detail</p>


<h3>Profile Information</h3>
<p>Update your account's profile name and email address</p>
<p>Name: ...</p>
<p>Email: ... (must be unique)</p>

<button>Save</button>

<h3>Update Password</h3>

<p>Current Password: ...</p>
<p>New Password: ...</p>
<p>Confirm Password: ...</p>
<button>Save</button>

<h3>Browser Sessions</h3>
<p>Manager and logout your active sessions on other browsers and devices....</p>


<h3>Delete Account</h3>
<p>Permanently delete your account</p>
<button class="btn btn-danger">Delete Account</button>
