@model SeekerListingViewModel

@{
    ViewBag.Title = "Edit Seeker Listing";
}



<div class="mx-auto p-6 max-w-4xl flex flex-col shadow-md">
    <h1 class="text-xl text-center">Create Seeker Listing</h1>
    <form method="post" class="flex flex-col mb-2">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="flex flex-col mb-2">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="input-box" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="flex flex-col mb-2">
            <label asp-for="Location"></label>
            <input asp-for="Location" class="input-box" />
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
        <div class="flex flex-col mb-2">
            <label asp-for="State"></label>
            <input asp-for="State" class="input-box" />
            <span asp-validation-for="State" class="text-red-500"></span>
        </div>
        <div class="flex flex-col mb-2">
            <label asp-for="Country"></label>
            <input asp-for="Country" class="input-box" />
            <span asp-validation-for="Country" class="text-red-500"></span>
        </div>
        <div class="flex flex-col mb-2">
            <label asp-for="Details"></label>
            <textarea asp-for="Details" rows="6" class="input-box h-auto"></textarea>
            <span asp-validation-for="Details" class="text-red-500"></span>
        </div>
        <div class="flex flex-col mb-2">
            <label asp-for="OccupantCount">Number of occupants:</label>
            <input asp-for="OccupantCount" class="input-box" />
            <span asp-validation-for="OccupantCount" class="text-red-500"></span>
        </div>
        <div class="flex flex-col mb-2">
            <label asp-for="HouseSize">House Size</label>
            <input asp-for="HouseSize" class="input-box" />
            <span asp-validation-for="HouseSize" class="text-red-500"></span>
        </div>
        <div class="flex flex-col mb-2">
            <label asp-for="PreferredLandType">Prefered Land Type</label>
            <input asp-for="PreferredLandType" class="input-box" />
            <span asp-validation-for="PreferredLandType" class="text-red-500"></span>
        </div>
        <div class="mb-4">
            <h1 class="my-2 text-green-700 text-xl">Required Features</h1>
            <div class="flex flex-row mb-2">
                <input asp-for="WaterConnectionRequired" type="checkbox" class="mr-2" />
                <label asp-for="WaterConnectionRequired">Water Connection</label>
            </div>
            <div class="flex flex-row mb-2">
                <input asp-for="ElectricalConnectionRequired" type="checkbox" class="mr-2" />
                <label asp-for="ElectricalConnectionRequired">Electrical Connection</label>
            </div>
            <div class="flex flex-row mb-2">
                <input asp-for="InternetConnectionRequired" type="checkbox" class="mr-2" />
                <label asp-for="InternetConnectionRequired">Internet/Wifi Connection</label>
            </div>
            <div class="flex flex-row mb-2">
                <input asp-for="PetFriendlyRequired" type="checkbox" class="mr-2" />
                <label asp-for="PetFriendlyRequired">Pet Friendly</label>
            </div>
            <div class="flex flex-row mb-2">
                <input asp-for="ChildFriendlyRequired" type="checkbox" class="mr-2" />
                <label asp-for="ChildFriendlyRequired">Child Friendly</label>
            </div>
        </div>


        <label for="file">Upload Image:</label>
        <input type="file" name="file" id="file" />
        <input type="submit" value="Upload Image" class="mx-auto btn btn-primary" />


        <button type="submit" class="btn btn-primary mx-auto mt-6">Update Edit</button>
    </form>
</div>




@*
<div class="mx-auto p-6 max-w-4xl flex flex-col shadow-md border border-gray-50">
    <h1 class="text-xl text-center">Edit Seeker Listing</h1>
    <form method="post" class="flex flex-col mb-2">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="flex flex-col mb-2">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="input-box" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="flex flex-col mb-2">
            <label asp-for="Location"></label>
            <input asp-for="Location" class="input-box" />
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
        <div class="flex flex-col mb-2">
            <label asp-for="State"></label>
            <input asp-for="State" class="input-box" />
            <span asp-validation-for="State" class="text-red-500"></span>
        </div>
        <div class="flex flex-col mb-2">
            <label asp-for="Country"></label>
            <input asp-for="Country" class="input-box" />
            <span asp-validation-for="Country" class="text-red-500"></span>
        </div>
        <div class="flex flex-col mb-2">
            <label asp-for="Details"></label>
            <textarea asp-for="Details" rows="6" class="input-box h-auto"></textarea>
            <span asp-validation-for="Details" class="text-red-500"></span>
        </div>
        <div class="flex flex-col mb-2">
            <label asp-for="OccupantCount">Number of occupants:</label>
            <input asp-for="OccupantCount" class="input-box" />
            <span asp-validation-for="OccupantCount" class="text-red-500"></span>
        </div>
        <div class="flex flex-col mb-2">
            <label asp-for="HouseSize">House Size</label>
            <input asp-for="HouseSize" class="input-box" />
            <span asp-validation-for="HouseSize" class="text-red-500"></span>
        </div>
        <div class="flex flex-col mb-2">
            <label asp-for="PreferredLandType">Prefered Land Type</label>
            <input asp-for="PreferredLandType" class="input-box" />
            <span asp-validation-for="PreferredLandType" class="text-red-500"></span>
        </div>
        <div class="mb-4">
            <h1 class="my-2 text-green-700 text-xl">Required Features</h1>
            <div class="flex flex-row mb-2">
                <input asp-for="WaterConnectionRequired" type="checkbox" class="mr-2" />
                <label asp-for="WaterConnectionRequired">Water Connection</label>
            </div>
            <div class="flex flex-row mb-2">
                <input asp-for="ElectricalConnectionRequired" type="checkbox" class="mr-2" />
                <label asp-for="ElectricalConnectionRequired">Electrical Connection</label>
            </div>
            <div class="flex flex-row mb-2">
                <input asp-for="InternetConnectionRequired" type="checkbox" class="mr-2" />
                <label asp-for="InternetConnectionRequired">Internet/Wifi Connection</label>
            </div>
            <div class="flex flex-row mb-2">
                <input asp-for="PetFriendlyRequired" type="checkbox" class="mr-2" />
                <label asp-for="PetFriendlyRequired">Pet Friendly</label>
            </div>
            <div class="flex flex-row mb-2">
                <input asp-for="ChildFriendlyRequired" type="checkbox" class="mr-2" />
                <label asp-for="ChildFriendlyRequired">Child Friendly</label>
            </div>
        </div>


        <label for="file">Upload Image:</label>
        <input type="file" name="file" id="file" />
        <input type="submit" value="Upload Image" class="mx-auto btn btn-primary" />


        <button type="submit" class="btn btn-primary mx-auto mt-6">Submit Edit</button>
    </form>
</div>
*@

