@model MessageViewModel

<form method="post" asp-action="Send" asp-controller="Message" class="flex flex-col">
    @Html.HiddenFor(model => Model.UserListingId)
    @Html.HiddenFor(model => Model.SenderId) 
    @Html.HiddenFor(model => Model.ReceiverId)
    <textarea asp-for="Message" placeholder="Type your message here..." class="my-2 p-4 border border-gray-400 placeholder-gray-400 focus:border-green-700"></textarea>
    <button type="submit" class="ml-auto my-2 px-4 py-2 w-40 text-center bg-green-700 border border-green-700 text-white rounded-sm shadow-md">
        <i class="fa-regular fa-paper-plane"></i> Send Message
    </button>
</form>

