@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Tiny House Landshare</h1>

    <p>Our website helps land owners and tiny house owners in Canada and USA connect</p>
</div>
