@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <p>
        @Html.ActionLink("Seeker Listings", "index", "Seeker")
    </p>
    <P>
        @Html.ActionLink("Create Seeker Listing", "createlisting", "seeker")
    </P>
    <p>
        @Html.ActionLink("Land Listings", "index", "Land")
    </p>
    <P>
        @Html.ActionLink("Create Land Listing", "createlisting", "Land")
    </P>
</div>
